html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p, 
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    height: 100%;
    font-size: 16px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}







/* Общие стили */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #303030;
    color: whitesmoke;
}

header {
    text-align: center;
    padding: 5px 0px ;
    background-color: #303030;
    box-shadow: 0px 0px 20px
}

h1 {
    font-size: 10px;
    margin: 0;
    color: #808080;
}

/* Линия под заголовком */
.header-line {
    width: 100%; /* Занимает всю доступную ширину */
    margin: 5px 0 0 0px; /* Убираем отступ слева */
    border: none; /* Убираем стандартные границы */
    height: 1.5px; /* Толщина линии */
    background-color: #171717; /* Цвет линии */
    box-shadow: 0 2px 3px rgba(13, 13, 13, 0.5);
}

nav {
    text-align: center;
    margin: 0px;
    padding: 0px 0;
    background-color: #303030;
    margin-bottom: 0px;
}

nav button {
    font-size: 120%;
    padding: 5px 10px;
    margin: 0 1px;
    border: none;
    background-color: #303030;
    color: rgb(156, 156, 156);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button.active {
    background-color: #272727;
    color: whitesmoke;
}

nav button:hover {
    background-color: #272727;
    color: whitesmoke;
}

/* Стили для контейнеров с SBT */



.sbt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центровка элементов */
    gap: 20px; /* Промежуток между картами */
    padding: 20px;;
    }

.sbt-item {
    width: 46.432%;
    padding: 0px;
    background-color: #333;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: auto;
}

.sbt-item:hover {
    transform: scale(1.05);
}

.sbt-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20% 20% 0% 0%;
    margin-bottom: 0px;
}

.grab-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 500;
    width: 100%;
    margin: 0%;
    padding: 5% 11%;
    border: none;
    background-color: #3B3B3B;
    color: whitesmoke;
    border-radius: 0% 0% 20em 20em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.complete-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 40%;
    padding: 8px 12px;
    margin: 150px 7px 0px 0px;
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s;;
}

.close-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 40%;
    padding: 8px 12px;
    margin: 150px 0px 0px 7px;
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s;;
}

.grab-btn:hover, .complete-btn:hover, .back-btn:hover {
    background-color: #3a3a3a;
}


/* Секция "Soon..." */
.soon {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 70px;
    color: #1E1E1E;
    margin: 20px 0;

    margin-top: 50%;
}


#sbt-fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #272727;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sbt-fullscreen-content {
    max-width: 90%;
    background: #272727;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
}

.sbt-fullscreen-content h2 {
    color: #d9d9d9;
    margin-top: 10px;
    font-size: 24px;
}

.sbt-fullscreen-content p {
    color: #aaa;
    font-size: 16px;
    margin: 10px 0;
}

.sbt-fullscreen-content .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.sbt-fullscreen-content .complete-btn,
.sbt-fullscreen-content .close-btn {
    font-size: 14px;
    padding: 7px 0px;
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
}

.sbt-fullscreen-content .complete-btn:hover,
.sbt-fullscreen-content .close-btn:hover {
    background-color: #484848;
}

/* Настройки для изображения на весь контейнер */
.sbt-fullscreen-content img {
    width: 100%; /* Изображение заполняет весь контейнер */
    border-radius: 20px 20px 0px 0px; /* Закругленные углы */
    margin-top: 0px;
    margin: 0px;
}

/* Увеличенный размер шрифта для заголовка */
.sbt-fullscreen-content h2 {
    font-size: 18px; /* Увеличенный шрифт */
    color: #d9d9d9;
    margin-top: 10px;
    text-align: center; /* Центрирование текста */
}

/* Линия под заголовком */
.sbt-fullscreen-content h2::after {
    content: "";
    display: block;
    
    width: 100%; /* Занимает всю доступную ширину */
    margin: 10px 0; 
    border: none; /* Убираем стандартные границы */
    height: 1px; /* Толщина линии */
    background-color: #7B7B7B; /* Цвет линии */
}

/* Выровненные по левому краю данные */
.sbt-info {
    text-align: left; /* Выравнивание текста по левому краю */
    padding-left: 0px; /* Отступ слева для красивого вида */
    margin: 0px;
}

.header-content {
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Центрируем содержимое контейнера */
}

.logo {
    margin-right: 0px; /* Отступ между логотипом и текстом */
    margin: 0 0 0 10px;
}

.text {
    max-width: 70%; /* Максимальная ширина текста */
    text-align: center; /* Центрирование текста внутри блока */
    margin-left: auto; /* Отодвигает текст вправо */
    margin-right: auto; /* Отодвигает текст влево */
}

.logo img {
    max-width: 44px; /* Размер логотипа */
    height: auto;
}

#missed, #my-sbt {
    display: none; /* Скрываем секции "Missed" и "My SBT" при загрузке */
}

.jiji{
    color: #808080;
    max-width: 260px;
    margin: 0 auto;
    margin-top: 60%;
}

.bukva{
    font-weight: bold; /* Делает текст жирным */
    color: whitesmoke; /* Задает цвет текста */
}

a {
    color: #d9d9d9; /* Замените на нужный цвет */
    text-decoration: underline; /* Убирает подчеркивание */
}


/* Стили для блока обратного отсчета */
.countdown1 {
    background-color: #3B3B3B;
}

.countdown2{
    background-color: #272727;
    color: #aaa;
    margin: 7px;
}

.release{
    margin: 7px;
}


