body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.sbt-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.complete-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: #45a049;
}

/* Стили для кнопки "Back to Main" */
.back-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #333;
}

.soon {
    text-align: center;
    font-size: 24px;
    color: #888;
    margin-top: 50px;
}