html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p, 
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    height: 100%;
    font-size: 16px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}









/* Общие стили */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #232323;
    color: whitesmoke;
    background-image: url('snow.png'); /* Укажите путь к вашему изображению */
    background-size: auto 110%; /* Изображение будет растянуто на весь экран */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    background-position: center; /* Центрируем изображение */
}

header {
    text-align: center;
    padding: 5px 0px ;
    background-color: #232323;
}

h1 {
    font-size: 10px;
    margin: 0;
    color: #808080;
}

/* Линия под заголовком */
.header-line {
    width: 100%; /* Занимает всю доступную ширину */
    margin: 5px 0px 20px 0px; /* Убираем отступ слева */
    border: none; /* Убираем стандартные границы */
    height: 1.5px; /* Толщина линии */
    background-color: #171717; /* Цвет линии */
    box-shadow: 0 2px 3px rgba(13, 13, 13, 0.5);
    
}




/* Стили для контейнеров с SBT */



.sbt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центровка элементов */
    gap: 20px; /* Промежуток между картами */
    padding: 20px;
    }

.sbt-item {
    width: 46.432%;
    padding: 0px;
    background-color: #232323;
    border-radius: 20%;
    text-align: center;
    transition: transform 0.2s;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sbt-item:hover {
    transform: scale(1.05);
}

.sbt-item img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20% 20% 0% 0%;
    margin-bottom: 0px;
}

.grab-btn{
    z-index: 12;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 500;
    width: 100%;
    margin: 0%;
    padding: 5% 11%;
    border: none;
    background-color: #373737;
    color: whitesmoke;
    border-radius: 0% 0% 20em 20em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.complete-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 40%;
    padding: 8px 12px;
    margin: 150px 7px 0px 0px;
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s;;
}

.close-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    width: 40%;
    padding: 8px 12px;
    margin: 150px 0px 0px 7px;
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    transition: background-color 0.3s;;
}

.grab-btn:hover, .complete-btn:hover, .back-btn:hover {
    background-color: #3a3a3a;
}


/* Секция "Soon..." */
.soon {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 70px;
    color: #1E1E1E;
    margin: 20px 0;

    margin-top: 50%;
}


#sbt-fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #272727;
    justify-content: center;
    align-items: center;
    background-image: url('snow.png'); /* Укажите путь к вашему изображению */
    background-size: auto 110%; /* Изображение будет растянуто на весь экран */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    background-position: center; /* Центрируем изображение */
    z-index: 1000;
}

.sbt-fullscreen-content {
    max-width: 90%;
    background: #232323;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
}


.sbt-fullscreen-content .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.sbt-fullscreen-content .complete-btn,
.sbt-fullscreen-content .close-btn {
    font-size: 14px;
    padding: 7px 0px;
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
}

.sbt-fullscreen-content .complete-btn:hover,
.sbt-fullscreen-content .close-btn:hover {
    background-color: #484848;
}

/* Настройки для изображения на весь контейнер */
.sbt-fullscreen-content img {
    width: 100%; /* Изображение заполняет весь контейнер */
    border-radius: 20px 20px 0px 0px; /* Закругленные углы */
    margin-top: 0px;
    margin: 0px;
}

/* Линия под заголовком */
.sbt-fullscreen-content h2::after {
    content: "";
    display: block;
    
    width: 100%; /* Занимает всю доступную ширину */
    margin: 10px 0; 
    border: none; /* Убираем стандартные границы */
    height: 1px; /* Толщина линии */
    background-color: #7B7B7B; /* Цвет линии */
}

/* Выровненные по левому краю данные */
.sbt-info {
    text-align: left; /* Выравнивание текста по левому краю */
    padding-left: 0px; /* Отступ слева для красивого вида */
    margin: 0px;
}

.header-content {
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Центрируем содержимое контейнера */
}

.logo {
    margin-right: 0px; /* Отступ между логотипом и текстом */
    margin: 0 0 0 10px;
}

.text {
    max-width: 60%; /* Максимальная ширина текста */
    text-align: center; /* Центрирование текста внутри блока */
    margin-left: auto; /* Отодвигает текст вправо */
    margin-right: auto; /* Отодвигает текст влево */
    z-index: 1000;
}

.logo img {
    max-width: 44px; /* Размер логотипа */
    height: auto;
}

#missed, #my-sbt {
    display: none; /* Скрываем секции "Missed" и "My SBT" при загрузке */
}

a {
    color: #d9d9d9; /* Замените на нужный цвет */
    text-decoration: underline; /* Убирает подчеркивание */
}


/* Стили для блока обратного отсчета */
.countdown1 {
    background-color: #3B3B3B;
}

.countdown2{
    background-color: #272727;
    color: #aaa;
    margin: 7px;
}

.release{
    margin: 7px;
}


@media (min-width: 300px){
    nav {
        text-align: center;
        margin: 0px;
        padding: 0px 0;
        background-color: rgba(255, 0, 0, 0);
        margin-bottom: 0px;
    }
    
    nav button {
        font-size: 120%;
        padding: 5px 10px;
        margin: 0px;
        border: none;
        background-color: rgba(255, 0, 0, 0);
        color: rgb(156, 156, 156);
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
        
    }
    
    nav button.active {
        background-color: #373737;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    nav button:hover {
        background-color: #373737;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .logo img {
        max-width: 100%; /* Размер логотипа */
        height: auto;
    }

    .logo {
        position: absolute;
        margin-right: 0px; /* Отступ между логотипом и текстом */
        margin: 0 0 0 0px;
    }

    body{
        padding: 0px;
    }

    .elki{
        width: 100%;
        height: auto;
        position: relative;
        top: -60px;
        z-index: 1;

    }

    h1{
        font-size: 10px;
    }

    .header-line {
        width: 100%; /* Занимает всю доступную ширину */
        margin: 5px 0 0 0px; /* Убираем отступ слева */
        border: none; /* Убираем стандартные границы */
        height: 1.5px; /* Толщина линии */
        background-color: #171717; /* Цвет линии */
        box-shadow: 0 2px 3px rgba(13, 13, 13, 0.5);
        z-index: 10;
    }

    .grab-btn{
        font-size: 100%;
        font-weight: 500;
    }  

    .complete-btn,
    .close-btn {
    font-size: 14px;
    padding: 7px 0px;
    border: none;
    background-color: #373737;
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;

    }


    /* Увеличенный размер шрифта для заголовка */
    .sbt-fullscreen-content h2 {
        font-size: 17px; /* Увеличенный шрифт */
        color: #d9d9d9;
        margin-top: 10px;
        text-align: center; /* Центрирование текста */
    }

    .sbt-fullscreen-content p {
        color: #aaa;
        font-size: 16px;
        margin: 10px 0;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    
    .modal-content {
        background: #232323;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        width: 80%;
        max-width: 400px;
    }
    
    .modal-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .modal-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .modal-btn.yes {
        background-color: #373737;
        font-size: 13px;
        color: whitesmoke;
    }
    
    .modal-btn.no {
        background-color: #373737;
        font-size: 13px;
        color: whitesmoke;
    }
    
    #ahtung{
        color: whitesmoke;
        font-size: 15px;
    }
}
    

@media (min-width: 450px){
    nav {
        text-align: center;
        margin: 0px;
        padding: 0px 0;
        background-color: #232323;
        margin-bottom: 0px;
    }
    
    nav button {
        font-size: 160%;
        padding: 5px 10px;
        margin: 0 1px;
        border: none;
        background-color: #232323;
        color: rgb(156, 156, 156);
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    nav button.active {
        background-color: #373737;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    nav button:hover {
        background-color: #373737;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .logo img {
        max-width: 54px; /* Размер логотипа */
        height: auto;
    }

    .logo {

        margin-right: 0px; /* Отступ между логотипом и текстом */
        margin: 10px 0px 10px 10px;
    }

    h1{
        font-size: 14px;
    }

    .header-line {
        width: 100%; /* Занимает всю доступную ширину */
        margin: 5px 0 0 0px; /* Убираем отступ слева */
        border: none; /* Убираем стандартные границы */
        height: 1.5px; /* Толщина линии */
        background-color: #171717; /* Цвет линии */
        box-shadow: 0 2px 3px rgba(13, 13, 13, 0.5);
    }

    .grab-btn{
        font-size: 140%;
        font-weight: 500;
    }

    .sbt-fullscreen-content .complete-btn,
    .sbt-fullscreen-content .close-btn {
    font-size: 23px;
    padding: 7px 0px;
    border: none;
    background-color: #373737;
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
}

/* Увеличенный размер шрифта для заголовка */
.sbt-fullscreen-content h2 {
    font-size: 29px; /* Увеличенный шрифт */
    color: #d9d9d9;
    margin-top: 10px;
    text-align: center; /* Центрирование текста */
}

.sbt-fullscreen-content p {
    color: #aaa;
    font-size: 22px;
    margin: 10px 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #232323;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.modal-btn.yes {
    background-color: #373737;
    font-size: 19px;
    color: whitesmoke;
}

.modal-btn.no {
    background-color: #373737;
    font-size: 19px;
    color: whitesmoke;
}

#ahtung{
    color: whitesmoke;
    font-size: 20px;
}

}

@media (min-width: 600px){
    nav {
        text-align: center;
        margin: 0px;
        padding: 0px 0;
        background-color: #232323;
        margin-bottom: 0px;
    }
    
    nav button {
        font-size: 180%;
        padding: 5px 10px;
        margin: 0 30px;
        border: none;
        background-color: #232323;
        color: rgb(156, 156, 156);
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    nav button.active {
        background-color: #373737;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    
    nav button:hover {
        background-color: #373737;
        color: whitesmoke;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .logo img {
        max-width: 64px; /* Размер логотипа */
        height: auto;
    }

    .logo {
        margin-right: 0px; /* Отступ между логотипом и текстом */
        margin: 10px 0px 10px 20px;
    }

    h1{
        font-size: 17px;
    }

    .header-line {
        width: 100%; /* Занимает всю доступную ширину */
        margin: 5px 0 0 0px; /* Убираем отступ слева */
        border: none; /* Убираем стандартные границы */
        height: 2.5px; /* Толщина линии */
        background-color: #171717; /* Цвет линии */
        box-shadow: 0 2px 5px rgba(38, 38, 38, 0.5);
    }

    .grab-btn{
        font-size: 25px;
        font-weight: 500;
    }

    .sbt-fullscreen-content .complete-btn,
    .sbt-fullscreen-content .close-btn {
    font-size: 32px;
    padding: 7px 0px;
    border: none;
    background-color: #373737;
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
}

/* Увеличенный размер шрифта для заголовка */
.sbt-fullscreen-content h2 {
    font-size: 35px; /* Увеличенный шрифт */
    color: #d9d9d9;
    margin-top: 10px;
    text-align: center; /* Центрирование текста */
}

.sbt-fullscreen-content p {
    color: #aaa;
    font-size: 28px;
    margin: 200px 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #232323;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.modal-btn.yes {
    background-color: #373737;
    font-size: 20px;
    color: whitesmoke;
}

.modal-btn.no {
    background-color: #373737;
    font-size: 20px;
    color: whitesmoke;
}

#ahtung{
    color: whitesmoke;
    font-size: 22px;
}

}


.sbt-item img.blur {
    filter: blur(5px);
}

.sbt-item img.blur,
.sbt-fullscreen-content img.blur {
    filter: blur(4px); /* Размытие */
    transition: none; /* Убираем все эффекты при наведении */
}

.sbt-item {
    position: relative;
    overflow: hidden; /* Обрезка содержимого за пределами контейнера */
}
